#peach {
    background-image: url("images/peachabstract1920.jpg");
    background-color: #f2b175;
    background-repeat: no-repeat;
} 

#lime {
    background-image: url("images/greenbabstract1920.jpg");
    background-color: #f9fbfa;
    background-position: center;
    background-repeat: no-repeat;
} 

hr {
    height:2px;
    border-width:0;
    color:#f38b35;
    background-color:#f38b35;
}

header h1 {
    font-family: 'Alata', sans-serif;
}
.navbar-nav .active {
    text-decoration: underline;
}

#navname {
    font-family: 'Alata', sans-serif;
}

#myface {
    float: left;
    margin-right: 10px;
}

#about-me, #contact, #portfolio {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 20px 30px 20px;
    margin: 60px 0px 40px 30px;
}

#footbar1 {
    background-color: #fb9f52;
    height: 5px;
}

#footbar2 {
    background-color: #f8f9fa;
    height: 30px;
    color: gray;
    text-align: center;
}

#footbar2 p {
    margin-bottom: 0px;

}

@media only screen and (max-width: 767px) {
    #about-me, #contact, #portfolio {
        margin-right: 30px;
    }

    #about-me img{
        width: 150px;
    }

}