#peach {
    background-image: url("images/peachabstract1920.jpg");
    background-color: #f2b175;
    background-repeat: no-repeat;
} 

#lime {
    background-image: url("images/greenbabstract1920.jpg");
    background-color: #f9fbfa;
    background-position: center;
    background-repeat: no-repeat;
} 

#purp {
    background-image: url("images/purpabstract2754.jpg");
    background-color: #f9fbfa;
    background-repeat: no-repeat;
} 

hr {
    height:1px;
    border-width:0;
    color:rgb(194, 194, 194);
    background-color:rgb(194, 194, 194);
}

header h1 {
    font-family: 'Red Hat Display', sans-serif;
}
.navbar-nav .active {
    text-decoration: underline;
}

#navname {
    font-family: 'Red Hat Display', sans-serif;
}

.myface {
    float: left;
    margin-right: 10px;
}

#social img{
    float: left;
    width: 45px;
    padding: 2px;
}
 
#social {
    margin-left: 10px;
}

#about-me, #contact, #portfolio {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    margin: 60px 0px 40px 0px;
}

#portfolio .row {
    padding: 10px;
}

#footbar1 {
    background-color: rgb(194, 194, 194);
    height: 5px;
}

#footbar2 {
    background-color: #f8f9fa;
    height: 30px;
    color: gray;
    text-align: center;
}

#footbar2 p {
    margin-bottom: 0px;

}

@media only screen and (max-width: 767px) {

    #portfolio .row {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    #portfolio img {
        padding-top: 10px;
    }

    #about-me img{
        width: 150px;
    }

    #social img{
        width: 45px;
    }
}